.modal-content {
    position: absolute;
    width: 600px;
    min-height: 200px;
    background-color: white;
    padding: 5px;
    box-shadow: 5px 10px;
    top: 20%;
    left: 30%;
}

.modal-content_list {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.modal-content_list-item {
    width: 48%;
    border: 1px solid black;
    margin: 10px;
    padding-left: 10px;
    box-shadow: 2px 3px;
}

.modal-content_shared {
    border: 1px solid black;
    margin: 10px 10px 30px 10px;
    padding-left: 10px;
    box-shadow: 2px 3px;
}

.list-block {
    max-height: 200px;
    overflow-y: scroll;
}

.modal-content_form {
    margin: 10px;
    text-align: left;
}

.list-name {
    font-size: 20px;
    font-weight: bold;
}

.item {
    cursor: pointer;
}

.item-done {
    text-decoration: line-through;
}

.list-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

.list-action_cancel {
    height: 30px;
    background-color: red;
    color: white;
    width: 20%;
    cursor: pointer;
    margin-right: 10px;
}

.list-action_save {
    height: 30px;
    background-color: green;
    color: white;
    width: 20%;
    cursor: pointer;
}