$themes: (
        pink: (
                backgroundColor: #fcebf8,
                listColor: #fcdcfc
        ),
        blue: (
                backgroundColor: #eefbff,
                listColor: #b0e4ff
        ),
        yellow: (
                backgroundColor: #feffe9,
                listColor: #fffcb0
        ),
        green: (
                backgroundColor: #e8ffdf,
                listColor: #c3ffb8
        ),
        purple: (
                backgroundColor: #e4deff,
                listColor: #c1c2ff
        ),
);