body {
  background-color: #fcebf8;
  font-family: AppleMyungjo, "Times New Roman", Serif;
}

.app {

}

.app-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.app-content {
  min-height: 500px;
  margin: 30px;
}

.app-content_list-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px;
}

.add-list {
  width: 150px;
  height: 150px;
  border: 5px dashed lightgray;
  font-size: 20px;
  font-weight: bold;
  color: lightgray;
  cursor: pointer;
  margin: 5px;
}

.list {
  width: 150px;
  height: 150px;
  border: 5px solid #282c34;
  font-size: 20px;
  font-weight: bold;
  background-color: #fcdcfc;
  color: #282c34;
  margin: 5px;
  cursor: pointer;
}
